* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background-image: url(./img/fruits-background-3.jpg);
    background-size: 100%;
    font-family: 'Josefin Slab', serif;  
}

body p {
    font-weight: 400; 
    font-size: 1.4em; 
}

.base-container{ 
    background-color:rgba(235, 35, 45, 0.7);
    border-radius: 20px;
    max-width: 600px;
    margin: 20px auto; 
    padding: 20px;
}

h2 {
    text-align: center;
    color: black;
    font-weight: 700;
}

.footer-form {
    margin: 15px;
    text-align: center;
}



