* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/fruits-background-3.jpg);
    background-size: 100%;
    font-family: 'Josefin Slab', serif;  
    font-weight: 400; 
    font-size: 18px;

}

h1 {
    font-family: 'Fredericka the Great', cursive;
    color: black;
    text-align: center;
    margin: 70px 0;
}

h2 {
    text-align: center;
    color: black;
    font-weight: 700;
    font-family: 'Josefin Slab', serif;   
}

