header {
    margin-top: 40px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    color: black;
    font-weight: 500;
    text-align: center;
    margin: auto;
}

nav, h1 { 
    background-color:rgba(235, 35, 45, 0.7);
    border-radius: 20px;
    max-width: 600px;
    margin: 30px auto;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}

li {
    font-family: 'Fredericka the Great', cursive;
    padding: 0 10px;
    font-size: 22px;
}